<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %}Djando e-comerce{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark negrito">
		<div class="container">
			<a class="navbar-brand" href="#">Django Ecomerce</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			    	<li class="nav-item">
			        	<a class="nav-link" href="{% url 'index'%}">Inicio</a>
			      	</li>
			      	<li class="nav-item dropdown"> 
			      		<a class="nav-link dropdown-toggle" href="{{ get_absolute_url }}" id="navbardrop" data-toggle="dropdown">
				        Categorias
				    	</a>
				    	<div class="dropdown-menu">
				      		{% for cat in categories %}
				        		<a class="dropdown-item" href="{{ cat.get_absolute_url }}">{{ cat }}</a>
				        	{% endfor %}
				      </div>
				    </li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="{% url 'contact'%}">Contato</a>
			      	</li>
			    </ul>
			    <a href="#"><span class="navbar-text">Minha conta</span></a>
			</div>
		</div>
	</nav>


<div class="container conteudo">
	{% block container %} {% endblock %}
</div>
<footer class="footer">
  <div class="container">
		<div class="row">
			<div class="col-lg-10 col-sm-9 col-md-9">
				<ul class="list-unstyled lista-footer">
					<li><a href="{% url 'index'%}">Inicio</a></li>
					<li><a href="{% url 'catalog:product_list' %}">Produdos</a></li>
					<li><a href="{% url 'contact'%}">Contato</a></li>
					<li><a href="">Termos e Privacidade</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-3 col-md-3">
				<ul class="list-unstyled lista-footer">
					<li><a href="#top">Voltar ao Topo</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</body>

</html>