

.negrito{
	/*font-size: 18px;*/
	font-weight: bold;
}

.font-grande{
	font-size: 40px;
}

.font-media{
	font-size: 25px;
}

.text-branco{
	color: white;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    text-align: left;
}

.conteudo {
	min-height:100%;
    position:relative;
	margin-top: 30px;
	padding: 20px;
	padding-bottom: 30px;
	padding-top: 40px;
	background-color: #e3e4e8;
	border-radius: 10px;
}
.margin-sup{
	margin-top: 20px;
}

.lista-footer{
	/*display: inline-block;*/
	/*position: absolute;*/
}

.lista-footer li {
    float: left;
}

.lista-footer li a {
    display: block;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.lista-footer li a:hover {
	color: white;
   background-color: #3a4a5b;
}

.lista-footer a {
	text-decoration: none;
}

